<%= form_with(model: contact, local: true, html: { class: "basic-grey" }) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Contacts</h1>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>    
    <%= form.collection_select(:kind_id, @kind_options_for_select, :id, :description) %>
  </div>


  
  <% #formulário padrão (form) aceita campos aninhados (fields_for) do model (:address) %>
  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street %>    
      <%= address_fields.text_field :street %>
    </div>
    <div class="field">
      <%= address_fields.label :city %>    
      <%= address_fields.text_field :city %>
    </div>
    <div class="field">
      <%= address_fields.label :state %>          
      <%= address_fields.select :state, options_for_select([["Bahia", "BA"], ["São Paulo", "SP"]], @contact.address.state) %>
    </div>
  <% end %>



  <% #formulário padrão (form) aceita campos aninhados (fields_for) do model (:phones) %>
  <%= form.fields_for :phones do |phones_fields| %>
    <div class="field">
      <%= phones_fields.label :phone %>    
      <%= phones_fields.text_field :phone %>
    </div>
  <% end %>




  <div class="field">
    <%= form.label :rmk %>
    <%= form.text_area :rmk, id: :contact_rmk %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: "button"  %>  
    <%= link_to 'Back', contacts_path, class: "button" %>
  </div>
<% end %>
