<h1>Seja Bem Vindo!</h1>

<!-- usando uma helper descrita no arquivo home_helper.rb-->
<%= mostrar_meu_nome %> 
<!-- usando uma helper descrita no arquivo application_helper.rb que serve para todas as views-->
<%= somar_dois(5) %>

<ul>
    <li> <%= link_to "Tipos", kinds_path %></li>
    <li> <%= link_to "Contatos", contacts_path %></li>
    <li> <%= link_to "Endereços", addresses_path %></li>
    <li> <%= link_to "Telefones", phones_path %></li>
</ul>
